{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ product['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}



<form method="POST">
  <label for="title">Title</label>
  <input name="title" id="title" value="{{ request.form['title'] or product['title'] }}" required>
  <label for="body">Body</label>
  <textarea name="body" id="body">{{ request.form['body'] or product['body'] }}</textarea>
  <label for="prezzo">prezzo</label>
  <textarea name="prezzo" id="prezzo">{{ request.form['prezzo'] or product['prezzo'] }}</textarea>
  <label for="tags">tags</label>
  <textarea name="tags" id="tags">{{ request.form['tags'] or product['tags'] }}</textarea>
  <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('product.delete', id=product['id']) }}" method="POST">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}